*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Scala-IDE specific
.scala_dependencies

# IntelliJ IDEA specific
.idea/
.idea_modules/

# for Mac
.DS_Store

# temporary source file
src/main/scala/Bench.scala

